.feature{
    display: flex;
    align-items: center;
}
.feature__icon{
    margin-right: rem(14px);
    .feature__img{
        width: rem(35px);
        height: rem(32px);
        fill: $white;
    }
}
.feature__text{
    font-size: rem(16px);
    font-weight: 700;
    width: rem(90px);
}