.fixed-menu{
    position: fixed;
    top: 35%;
    right: 3%;
    z-index: $z-fixed-menu;
    color: $white;

    @include tablets {
        display: none;
    }
}
.fixed-menu__item{
    margin-bottom: rem(5px);
}
.fixed-menu__item.active{
    border: rem(1px) solid $white;
    border-radius: 50%;
}
.fixed-menu__link{
    display: block;
    position: relative;
    width: rem(18px);
    height: rem(18px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: rem(6px);
        height: rem(6px);
        background: $white;
        border-radius: 50%;
    }
}
.fixed-menu__black .fixed-menu__list .fixed-menu__item.active{
    border-color: $black;
}
.fixed-menu__black .fixed-menu__list .fixed-menu__item .fixed-menu__link::before{
    background: $black;
}