.form{
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 20%;
    }
    @include phones{
        padding: 0;
    }
}
.form__col{
    flex: 1;
    margin-right: rem(28px);
    &:last-child{
        margin-right: 0;
    }

    @include tablets{
        margin-right: 0;
    }
}
.form__row{
    display: flex;
    margin-bottom: rem(12px);
    &--textarea{
        margin-bottom: rem(38px);
    }
}
.form__block{
    flex: 1;
    margin-right: rem(16px);
    &:last-child{
        margin-right: 0;
    }
}
.form__input{
    width: 100%;
    padding: rem(16px) rem(12px);
    border: rem(5px) solid transparent;
    border-radius: rem(4px);
    &--textarea{
        height: rem(154px);
        resize: none;
    }
    &:focus{
        outline: none;
        border-color: $yellow;
    }
    
}
.form__controls{
    display: flex;
    flex-wrap: wrap;

    @include phones{
        justify-content: center;
    }
    &--radio{
        margin-bottom: rem(20px);
    }
    &--checkbox{
        margin-bottom: rem(48px);
    }
}
.form__title{
    color: $white;
    text-transform: capitalize;
}
.form__btns{
    @include tablets{
        display: flex;
        justify-content: center;
    }
}