.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__list{
    display: flex;
    align-items: center;
    .menu__item{
        margin-right: 22px;
        &:last-child{
            margin-right: 0;
        }
        .menu__link{
            color: $white;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
}
.phone-number{
    color: $white;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.phone-number__icon-elem{
    width: 12px;
    height: 12px;
    margin-right: 6px;
}