.hero{
    background: url("../../img/bg.png") no-repeat;
    height: 100vh;
    min-height: 650px;
   background-size: cover;
   color: $white;
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 26px;
    padding-bottom: 46px;
}
.hero__title-section{
    width: 50%;
    .hero__main-title{
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 17px;
        line-height: 1.1;
    }
    .hero__title-desc{
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 39px;
    }
}

