$baseFontSize: 18px;
$containerWidth: 940px; 

//colors
$yellow:#FEDB3F;
$darkYellow: #FFD517;
$black: #292929;
$white: #fff;
$blue: #1968B1;

//z-index
$z-fixed-menu: 100;

//remFunction
@import "media";

//breakpoints
$tablets: 768px;
$phones: 480px;

//normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

//fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap');

//setup
@import "layout";

//components
@import "hero";
@import "header";
@import "features";
@import "feature";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "reviews";
@import "interactive-avatar";
@import "reviews-switcher";
@import "order";
@import "form";
@import "radio";
@import "map";
@import "footer";
@import "fixed-menu";
@import "hamburger";